=form_for(@newtimelog, url: :timelog, html: { class: "form-horizontal", role: "form" }) do |f|
	%div.form-group
		=f.label :description, class: "col-sm-2 control-label"
		%div.col-sm-10
			=f.text_area :description, class: "form-control"
	%div.form-group
		=f.label :time, class: "col-sm-2 control-label"
		%div.col-sm-10
			=f.time_field :time, class: "form-control"
	%div.form-group
		=f.label :kind, class: "col-sm-2 control-label"
		%div.col-sm-10
			=f.select :kind, Timelog.kinds, class: "form-control"
	%div.form-group
		%div.col-sm-offset-2.col-sm-10
			=f.submit "submit", class: "btn btn-default"

