=user_signed_in?
=@timelog.time
=render partial: "form"

.logs
  %table
    %tr
      %th ID
      %th time
      %th log_type
      %th description
      %th user_id
    -@logs.each do |log|
      %tr
        %td
          =log.id
        %td
          =log.time
        %td
          =log.log_type
        %td
          =log.description
        %td
          =log.user_id

